.HeaderLists:nth-of-type(1) .HeaderNavBar {
    width: 100%;
}

#MainSliderCont {
    width: 100%;
    overflow: hidden;
}

#MainSlider {
    width: 100%;
    width: 100%;
    height: 50vw;
    background: #060606;
}

    #MainSlider .slick-list {
        background: url('../Images/Loader.gif') no-repeat 50% 45%;
    }

    #MainSlider .slick-next {
        background: url('../Images/Icons/Chevrons.png') no-repeat 120% 0%;
        background-size: cover;
    }

    #MainSlider .slick-prev {
        background: url('../Images/Icons/Chevrons.png') no-repeat -20% 0%;
        background-size: cover;
    }

    #MainSlider:hover .slick-prev,
    #MainSlider:hover .slick-next {
        opacity: 1;
        filter: alpha(opacity=100);
    }

.MainSliderMaterials {
    height: 50vw;
    overflow: hidden;
}

.MainSliderLink {
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 5vw;
    right: 0;
}

.MainSlider-Href, .MainSlider-Href:active,
.MainSlider-Href:visited {
    text-decoration: none;
    cursor: pointer;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    background: #fff;
}

    .MainSlider-Href:hover {
        background: #0925A8;
        color: #fff;
    }

.MainSliderParag {
    position: relative;
    color: #fff;
    font-size: 60px;
    font-family: "gotham-black", "gotham-book", Arial, Georgia, "Times New Roman";
    top: 6.5vw;
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-weight: bolder;
}

    .MainSliderParag span {
        margin: 0px;
        padding: 0px;
        color: #fff;
    }

.MainSliderImg {
    width: 100%;
    height: inherit;
    position: relative;
    background-color: #0b0b0b;
    background-position-x: 50%;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-origin: padding-box;
    background-clip: border-box;
}

    .MainSliderImg img {
        width: 100%;
    }

.HighlightsCont {
    width: 100%;
    position: relative;
}

.Highlights {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.HighlightsSec {
    width: 100%;
    position: relative;
}

    .HighlightsSec::before {
        content: ' ';
        display: table;
        box-sizing: inherit;
    }

    .HighlightsSec::after {
        content: ' ';
        display: table;
        box-sizing: inherit;
        clear: both;
    }

.HighlightsGrid {
    width: 50%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

    .HighlightsSec:nth-of-type(2n+1) .HighlightsGrid {
        float: right;
    }

        .HighlightsSec:nth-of-type(2n+1) .HighlightsGrid:nth-of-type(2) {
            background: #fff;
        }

    .HighlightsSec:nth-of-type(2n) .HighlightsGrid {
        float: left;
    }

        .HighlightsSec:nth-of-type(2n) .HighlightsGrid:nth-of-type(2) {
            background: #ecebeb;
        }


    .HighlightsSec .HighlightsGrid:nth-of-type(1) {
        background-color: #0b0b0b;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        background-origin: padding-box;
        background-clip: border-box;
    }

.HighlightsTxt {
    position: absolute;
    top: 50%;
    padding: 0vw 8vw;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.Hl-Title {
    font-size: 45px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
    font-family: "gotham-black", "gotham-book", Arial, Georgia, "Times New Roman";
    color: #000;
}

.Hl-Parag {
    font-size: 15px;
    padding: 15px;
    margin: 0;
    font-family: roboto;
    color: #000;
    line-height: 2;
}

.Hl-Link:link, .Hl-Link:visited,
.Hl-Link:active {
    display: inline-block;
    padding: 15px;
    color: #000;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.Hl-Link:hover {
    color: #0925A8;
}

.Hl-Link-Arrow {
    display: inline-block;
    position: relative;
    background-color: #000;
    width: 16px;
    height: 2px;
    vertical-align: middle;
    margin-left: 10px;
}

    .Hl-Link-Arrow::before {
        display: block;
        position: absolute;
        content: '';
        background-color: #000;
        height: 2px;
        width: 7px;
        right: -1px;
        top: -2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 300ms ease-in-out;
    }

    .Hl-Link-Arrow::after {
        display: block;
        position: absolute;
        content: '';
        background-color: #000;
        height: 2px;
        width: 7px;
        right: -1px;
        top: 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        transition: all 300ms ease-in-out;
    }

    .Hl-Link:hover .Hl-Link-Arrow {
        margin-left: 20px;
    }

    .Hl-Link:hover .Hl-Link-Arrow,
    .Hl-Link:hover .Hl-Link-Arrow::before,
    .Hl-Link:hover .Hl-Link-Arrow::after {
        background-color: #0925A8;
    }

.PannelsCont {
    width: 100%;
    position: relative;
    display: none;
}

.Pannels {
    width: 90%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 100px 0px;
}

.PannelHolder {
    display: table-cell;
    border-left: 1px dotted #e4e4e4;
}

.PannelHolder:first-of-type {
    border-left: 0px;
}

.PH-Img {
    width: 85px;
    text-align: center;
    margin: 20px auto;
}

    .PH-Img img {
        width: 100%;
    }

.PH-Title, .PH-Parag {
    width: 90%;
    margin: 0 auto;
    color: #000;
}

    .PH-Title p {
        font-family: "gotham-black", "gotham-book", Arial, Georgia, "Times New Roman";
        font-size: 25px;
        font-weight: bold;
        margin: 0;
        padding: 20px;
    }

    .PH-Parag p {
        font-family: roboto;
        font-size: 15px;
        margin: 0;
        padding: 20px;
        text-align: left;
    }
